.env
.env.*
!.env.example

venv/
venv_old/
.venv/
ENV/
env/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.streamlit/*
!.streamlit/config.toml
logs/
.idea/
.vscode/

*.log
*.err
bot.log.*
bot.err.*
telethon_bot_session.session
telethon_delete_listener_session.session*
.DS_Store
Thumbs.db
